<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    Dear <%= @donor %>,
    <br><br>
    Thank you for you donation of $<%= @amount %> to <%= @rider %>.
  </body>
</html>