

<h2>Ride For Reform</h2>

<h3>Registered Riders</h3>



<div class="grid-items-lines">
  
  <%= render partial: "partials/rider", collection: @riders %>

  <div class="right-cover"></div>
  <div class="bottom-cover"></div>
</div>
