<h1>Ride 4 Reform Administrator Page</h1>
<!-- search by email to add new admin -->

<!-- Add new admins

Create and manage Ride Years
Create and manage Donations
Create and manage RiderRegs

Get Reports

 -->

<%= link_to 'Create + Manage Admins', new_admin_path %>

